html
    head
        title WTMB homework-4
        script(src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js")
        style.
            h1{
                color : red;
                text-align :center;
                font-family: cursive;
                font-size: 80px;
            }
            p{
                font-family: cursive;
                font-size: 30px
            }
    body
    block content
    block content2