extends layout

block content3
    h1 User Tweets Page
    each tweet in tweets
        p(style ="color:red") #{tweet.id}
        p #{tweet.user.username} tweets " #{tweet.text} " 
        hr
        